# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Checkpoints
*.pt
*.pth
